<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <!-- resources - - -> static부터 경로 시작 -->
    <link rel="stylesheet" href="/css/note.css">
</head>
<body>

    <h3> RESTFUL API CRUD 예제 </h3>
    <input type="text" class="ncontents">
    <button type="button" onclick="onwrite()">등록</button>

    <br>

    <table border="1" class="notetable">
        <tr>
            <th> 번호 </th>
            <th> 내용 </th>
            <th> 비고 </th>
        </tr>
    </table>

    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/note.js"></script>
</body>
</html>